<div *ngIf="kanjiTree" style="border: solid 1px red;padding-left: 20px; font-size: 24px;">
  {{ kanjiTree.element }}
  <div *ngIf="kanjiQuickInfo && kanjiTree.element">
    {{ kanjiQuickInfo[kanjiTree.element].kun }}
    {{ kanjiQuickInfo[kanjiTree.element].on }}
  </div>
  <div *ngIf="kanjiTree.g">
    <div *ngFor="let g of kanjiTree.g">
      <app-entry-details--kanji-tree [kanjiTree]="g" [child]="true" [kanjiQuickInfo]="kanjiQuickInfo"></app-entry-details--kanji-tree>
    </div>
  </div>
</div>
