.kanji-tree-wrap {
  border-left: solid 5px #85899620;
  padding-left: 15px;

  &_no-indent {
    border-left: none;
    padding-left: none;
  }
}

.kanji-tree-view {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 5px;

  &__kanji {
    margin-inline-end: 5px;
    font-size: 28px;
  }

  &__details {

  }

  &__details-reading {

  }

  &__details-meaning {
    color: #7d7f86;
    font-style: italic;
  }

  &:hover {
    background: rgba(0,0,0,0.05);
  }

  &:active {
    background: rgba(0,0,0,0.075);
  }
}
