.kanji-tree-wrap {
  border-left: solid 5px #85899656;
  padding-left: 15px;

  &_no-indent {
    border-left: none;
    padding-left: none;
  }
}

.kanji-tree-view {
  display: flex;
  align-content: center;
  align-items: center;

  &__kanji {
    margin-inline-end: 5px;
    font-size: 28px;
  }

  &__details {

  }

  &__details-reading {

  }

  &__details-meaning {
    color: #7d7f86;
    font-style: italic;
  }
}
