<ng-container *ngIf="trees && kanjiQuickInfo">
  <div *ngFor="let tree of trees">
    <div class="kanji-tree-wrap" [ngClass]="{'kanji-tree-wrap_no-indent': child === undefined}">
      <div *ngIf="tree.element" class="kanji-tree-view" (click)="entryOpenRequest.emit({ source: 3, kanji: tree.element})">
        <div class="kanji-tree-view__kanji">
          {{ tree.element }}
        </div>
        <div class="kanji-tree-view__details" *ngIf="tree.element">
          <div class="kanji-tree-view__details-reading" *ngIf="kanjiQuickInfo[tree.element]">
            <ng-container *ngIf="kanjiQuickInfo[tree.element].on">
              {{ kanjiQuickInfo[tree.element].on | join:', ' }};
            </ng-container>
            <ng-container *ngIf="kanjiQuickInfo[tree.element].kun">
              {{ kanjiQuickInfo[tree.element].kun | join:', ' }};
            </ng-container>
          </div>
          <div class="kanji-tree-view__details-meaning" *ngIf="kanjiQuickInfo[tree.element]?.meaning">
            {{ kanjiQuickInfo[tree.element].meaning | join:', ' }}
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div *ngIf="tree && tree.g">
        <div *ngFor="let g of tree.g">
          <app-entry-details--kanji-tree [child]="true" [trees]="[g]" [kanjiQuickInfo]="kanjiQuickInfo" (entryOpenRequest)="entryOpenRequest.emit($event)"></app-entry-details--kanji-tree>
        </div>
      </div>
    </div>
  </div>
</ng-container>
