<div class="toolbar" (dblclick)="toggleMaximize()">
  <div class="toolbar__layer">
    <div class="toolbar__flex"></div>
    <div class="toolbar__title">Kanji Lists</div>
    <div class="toolbar__flex"></div>
  </div>
</div>
<div class="collection-grid">


  <div class="collection-grid__groups">
    <div class="group-buttons">
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Kanji Kentei' }"
        (click)="openList('Kanji Kentei')">Kanji Kentei</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Old JLPT' }"
        (click)="openList('Old JLPT')">Old JLPT</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'New JLPT' }"
        (click)="openList('New JLPT')">New JLPT</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Stroke Count' }"
        (click)="openList('Stroke Count')">Stroke Count</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Kanji Frequency' }"
        (click)="openList('Kanji Frequency')">Kanji Frequency</button>
    </div>
  </div>


  <div class="collection-grid__header">
    <div class="collection-grid__header-title">
      {{ selectedGroupName }}
    </div>
    <div *ngIf="selectedGroupName === 'New JLPT'">
      The new JLPT
    </div>
  </div>


  <div class="collection-grid__content">

    <ng-container *ngIf="selectedGroupName !== 'loading'">
      <div class="collection-notice">
        The words are sorted alphabetically (五十音順)
      </div>
      <ng-container *ngFor="let section of selectedGroup">
        <div>{{ section.sectionName }}</div>
        <div class="word-list">
          <div class="word-list__item-char" *ngFor="let kanji of section.kanjis" (click)="selectItem(kanji)">
            <span>{{ kanji }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>


    <div class="word-list" *ngIf="selectedGroupName === 'loading'">
      <div class="word-list__loading">Loading...</div>
    </div>
  </div>

</div>
