<div class="toolbar toolbar_invisible" (dblclick)="toggleMaximize()"></div>

<div class="collection-grid">


  <div class="collection-grid__groups">
    <div class="group-title">Kanji Groups</div>
    <div class="group-buttons">
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Kanji Kentei' }"
        (click)="openList('Kanji Kentei')">Kanji Kentei</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Old JLPT' }"
        (click)="openList('Old JLPT')">Old JLPT</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'New JLPT' }"
        (click)="openList('New JLPT')">New JLPT</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Stroke Count' }"
        (click)="openList('Stroke Count')">Stroke Count</button>
      <button class="group-buttons__button group-buttons__button_full-width"
        [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'Kanji Frequency' }"
        (click)="openList('Kanji Frequency')">Kanji Frequency</button>
    </div>
  </div>


  <div class="collection-grid__header">
    <div class="collection-grid__header-title">
      {{ selectedGroupName }}
    </div>
    <div *ngIf="selectedGroupName === 'Kanji Kentei'">
      Kanji levels used for evaluating kanji knowledge in Japan Kanji Aptitude Test. (日本漢字能力検定)
    </div>
    <div *ngIf="selectedGroupName === 'Old JLPT'">
      List of kanji used in pre-2010 JLPT tests.
    </div>
    <div *ngIf="selectedGroupName === 'New JLPT'">
      Unofficial list of required kanji for the new JLPT test.
    </div>
    <div *ngIf="selectedGroupName === 'Stroke Count'">
      The number of stroke for writing each kanji character.
    </div>
    <div *ngIf="selectedGroupName === 'Kanji Frequency'">
      The frequency ranking of 2,501 kanji characters in Mainichi Newspaper word frequency list.
    </div>
  </div>


  <div class="collection-grid__content">

    <ng-container *ngIf="selectedGroupName !== 'loading'">
      <ng-container *ngFor="let section of selectedGroup">
        <div class="word-list-title">{{ section.sectionName }}</div>
        <div class="word-list">
          <div class="word-list__item-char" *ngFor="let kanji of section.kanjis" (click)="selectItem(kanji)">
            <span>{{ kanji }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>


    <div class="word-list" *ngIf="selectedGroupName === 'loading'">
      <div class="word-list__loading">Loading...</div>
    </div>
  </div>

</div>
