<div class="entry-details">
  <div class="entry-details__content">
    <div class="entry-details__wrap">
      <div class="detail-block">
        <img src="assets/bon-jisho-logo.svg">
        <h1>Bon Jisho</h1>
        <div>An open source offline Japanese dictionary desktop app.</div><br>
        <div>Made with ❤️ by Ezzat Chamudi</div><br>
        <button (click)="openWebBroser('https://github.com/echamudi/bon-jisho')">Open Github Repo</button>
        &nbsp;
        <button href="#" (click)="openWebBroser('https://github.com/echamudi/bon-jisho/issues')">Report Issues</button>
      </div>
    </div>
  </div>
</div>
