
<div class="toolbar toolbar_invisible" (dblclick)="toggleMaximize()"></div>

<div class="collection-grid">


  <div class="collection-grid__groups">
    <div class="group-title">Collection of 10,000 words (1万語語彙分類集)</div>
    <div class="group-buttons">
      <button class="group-buttons__button" [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'ichi1' }" (click)="openList('ichi1')">ichi1</button>
      <button class="group-buttons__button" [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'ichi2' }" (click)="openList('ichi2')">ichi2</button>
    </div>
    <div class="group-title">Alexandre Girardi's Wordfreq</div>
    <div class="group-buttons">
      <ng-container *ngFor="let nf of nfGroups; let i = index">
        <button class="group-buttons__button" [ngClass]="{'group-buttons__button_selected' : selectedGroupName === nf }" (click)="openList(nf)">{{ nf }}</button>
      </ng-container>
    </div>
    <div class="group-title">Common Loan Words</div>
    <div class="group-buttons">
      <button class="group-buttons__button" [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'gai1' }" (click)="openList('gai1')">gai1</button>
      <button class="group-buttons__button" [ngClass]="{'group-buttons__button_selected' : selectedGroupName === 'gai2' }" (click)="openList('gai2')">gai2</button>
    </div>
  </div>


  <div class="collection-grid__header">
    <div class="collection-grid__header-title">
      {{ selectedGroupName }}
    </div>
    <div *ngIf="selectedGroupName === 'ichi1'">
      The following words appear in the 10,000 selected vocabularies collection by Senmon Kyouiku. (Ichimango goi bunruishuu)
    </div>
    <div *ngIf="selectedGroupName === 'ichi2'">
      The following words appear in the 10,000 selected vocabularies collection by Senmon Kyouiku. (Ichimango goi bunruishuu, Senmon Kyouiku) (additional words)
    </div>
    <div *ngIf="selectedGroupName && selectedGroupName[0] === 'n' && selectedGroupName[1] === 'f'">
      The following words are the group number {{ selectedGroupName[2] === '0' ? '' : selectedGroupName[2] }}{{ selectedGroupName[3] }} of the Mainichi Newspaper frequency list.
      The group number is sorted by frequency.
    </div>
    <div *ngIf="selectedGroupName === 'gai1'">
      The following words are common loan words in the Mainichi Newspaper frequency list, part 1.
    </div>
    <div *ngIf="selectedGroupName === 'gai2'">
      The following words are common loan words in the Mainichi Newspaper frequency list, part 2.
    </div>
  </div>


  <div class="collection-grid__content">
    <ng-container *ngIf="list !== 'loading' && list?.length">
      <div class="collection-notice">
        The words are sorted alphabetically (五十音順)
      </div>
      <div class="word-list">
        <div class="word-list__item" *ngFor="let item of list" (click)="selectItem(item)">
          <ng-container *ngIf="item.kanji">
            <span class="word-list__item-kanji">{{ item.kanji }}</span><br>
            <span class="word-list__item-reading">{{ item.reading }}</span>
          </ng-container>
          <ng-container *ngIf="item.kanji === null">
            <span class="word-list__item-kanji">{{ item.reading }}</span>
          </ng-container>
        </div>
      </div>
    </ng-container>

    <div class="word-list" *ngIf="list === 'loading'">
      <div class="word-list__loading">Loading...</div>
    </div>

  </div>

</div>

