<div class="sidebar">
  <div class="list">
    <div class="list__item" routerLinkActive="list__item_active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </div>

    <div class="list__separator">Search</div>
    <div class="list__item" routerLinkActive="list__item_active" routerLink="/basic-search">
      Word Search
    </div>
    <div class="list__item" routerLinkActive="list__item_active" routerLink="/advanced-search">
      Kanji Search
    </div>
    <div class="list__item" routerLinkActive="list__item_active">
      Inspect Text
    </div>

    <div class="list__separator">Collections</div>
    <div class="list__item" routerLinkActive="list__item_active">
      Vocabulary Lists
    </div>
    <div class="list__item" routerLinkActive="list__item_active">
      Kanji Lists
    </div>
  </div>
</div>
