<!-- If it's a kanji word and has furigana breakdown -->
<ng-container *ngIf="kanji && furigana">
  <ruby *ngFor="let furiganaChunk of furigana">
    <rb>{{ furiganaChunk.w }}</rb>
    <rt>{{ furiganaChunk.r ? furiganaChunk.r : '' }}</rt>
  </ruby>
  <br style="content: '';"> <!-- Chrome bug hack -->
</ng-container>
<!-- If it's a kanji word but doesn't have furigana breakdown -->
<ng-container *ngIf="kanji && !furigana">
  <ruby>
    <rb>{{ kanji }}</rb>
    <rt>{{ reading }}</rt>
  </ruby>
  <br style="content: '';"> <!-- Chrome bug hack -->
</ng-container>
<!-- If it's a kana only word -->
<ng-container *ngIf="!kanji">
  <div>{{ reading }}</div>
</ng-container>
