<div class="sidebar">
  <div class="sidebar__header" (dblclick)="toggleMaximize()"></div>

  <!-- <div class="sidebar__item" routerLinkActive="sidebar__item_active" routerLink="/main/home" [routerLinkActiveOptions]="{ exact: true }">
    Home
  </div> -->

  <div class="sidebar__separator">Search</div>
  <div class="sidebar__item" routerLinkActive="sidebar__item_active" routerLink="/main/search">
    Word Search
  </div>
  <div class="sidebar__item" routerLinkActive="sidebar__item_active" routerLink="/main/inspect-text">
    Inspect Text
  </div>

  <div class="sidebar__separator">Collections</div>
  <div class="sidebar__item" routerLinkActive="sidebar__item_active">
    Vocabulary Lists
  </div>
  <div class="sidebar__item" routerLinkActive="sidebar__item_active">
    Kanji Lists
  </div>

  <div class="sidebar__separator">Other</div>
  <div class="sidebar__item" routerLinkActive="sidebar__item_active" routerLink="/main/about">
    About
  </div>
</div>
