<div *ngIf="dictIndexRow && (detailsObjJMdict || detailsObjJMnedict)" class="wrapper">

  <!-- Page Title -->
  <div class="entry-head">
    <div *ngIf="dictIndexRow.furigana" class="entry-head__kanji">
      <ruby *ngFor="let furiganaChunk of dictIndexRow.furigana">
        <rb>{{ furiganaChunk.w }}</rb>
        <rt>{{ furiganaChunk.r ? furiganaChunk.r : '' }}</rt>
      </ruby>
    </div>
    <div *ngIf="!dictIndexRow.furigana && !dictIndexRow.kanji" class="entry-head__kanji">
      <ruby>
        <rb>{{ dictIndexRow.reading }}</rb>
      </ruby>
    </div>
    <div *ngIf="!dictIndexRow.furigana && dictIndexRow.kanji" class="entry-head__kanji">
      <ruby>
        <rb>{{ dictIndexRow.kanji }}</rb>
        <rt>{{ dictIndexRow.reading }}</rt>
      </ruby>
    </div>
  </div>

  <!-- Alternatives -->
  <div *ngIf="alternatives.length > 1">
    <div class="detail-row">
      <div class="detail-row__title">Alternative Writings and Readings</div>
      <div *ngFor="let alternative of alternatives">
        <strong>{{ alternative.kanji }}</strong> {{ alternative.reading }}
      </div>
    </div>
  </div>

  <div class="separator-pad">
    <div class="separator-pad__label">
      TRANSLATION
    </div>
  </div>

  <!-- JMdict Translation -->
  <div class="detail-row" *ngIf="dictSource === 1">
    <div *ngFor="let sense of detailsObjJMdict.sense; index as i">
      <div *ngIf="sense.pos" class="detail-row__title">{{ sense.pos.join(', ')}}</div>
      <div class="sense-item">
        <div class="sense-item__number">
          {{ i + 1 }}
        </div>
        <div class="sense-item__text">
          <span *ngIf="sense.stagk" class="sense-item__notice">only {{ sense.stagk.join(', ')}}</span>
          <span *ngIf="sense.stagr" class="sense-item__notice">only {{ sense.stagr.join(', ')}} reading</span>
          <span *ngFor="let gloss of sense.gloss">
            {{ gloss.$t }};
          </span>
          <br>
          <span *ngIf="sense.misc">
            ({{ sense.misc.join(', ')}})
          </span>
          <span *ngIf="sense.xref">
            See: {{ sense.xref.join(', ')}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- JMnedict Translation -->
  <div class="detail-row" *ngIf="dictSource === 2">
    <div *ngFor="let trans of detailsObjJMnedict.trans; index as i">
      <div *ngIf="trans.name_type" class="detail-row__title">{{ trans.name_type.join(', ')}}</div>
      <div class="sense-item">
        <div class="sense-item__number">
          {{ i + 1 }}
        </div>
        <div class="sense-item__text">
          <span *ngFor="let text of trans.trans_det">
            {{ text }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="separator-pad">
    <div class="separator-pad__label">
      EXPLORE
    </div>
  </div>

  <div *ngIf="sameKanjiSameReading.length > 0" class="detail-row">
    <div class="detail-row__title">
      Alternative Definitions<br>
      (Other dictionary items with {{ dictIndexRow.kanji }} writing and {{ dictIndexRow.reading }} reading)
    </div>
    <div *ngFor="let row of sameKanjiSameReading">
      {{ row.id }}<br>
      {{ row.kanji }} {{ row.reading}}<br>
      {{ row.meaning }}
    </div>
  </div>
  <div *ngIf="sameKanji.length > 0" class="detail-row">
    <div class="detail-row__title">
      Same Writings<br>
      (Other dictionary items with {{ dictIndexRow.kanji }} writing, but with other readings)
    </div>
    <div *ngFor="let row of sameKanji">
      {{ row.id }}<br>
      {{ row.kanji }} {{ row.reading}}<br>
      {{ row.meaning }}
    </div>
  </div>
  <div>
    Raw
  </div>
  <pre>{{ detailsString }}</pre>
</div>
