@import "../../../style/fill.scss";

.entry-details {
  padding: 0;
  margin: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #F1F2F6;
  box-sizing: border-box;
}

.entry-details__toolbar {
  position: fixed;
  width: 100%;
  height: (40 / 16) * 1rem;
  background: white;
  top: 0;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px -1px 0 0 #CDCDCD inset;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
}

.entry-details__content {
  padding-top: (50 / 16) * 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.entry-details__wrap {
  width: 1024px;
}

.entry-head {
  margin-bottom: 20px;

  &__kanji {
    font-size: 60px;
  }

  &__reading {
    font-size: 30px;
  }
}

.pill {
  box-sizing: border-box;
  background: rgba(0,0,0,0.05);
  margin: 5px;
  padding: 5px;
}


.detail-block {
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 4px;
}

.detail-row {
  background: #fff;
  border-bottom: solid #C5C6C8 1px;
  padding: 10px 0;

  &:last-child {
    border-bottom: none;
  }

  &__title {
    color: #7E7F80;
    margin-bottom: 5px;
  }
}

.separator-pad {
  margin-top: 20px;
  padding: 10px;

  &__label {
    color: #6C6D71;
    -webkit-user-select: none;
  }
}

.sense-item {
  display: flex;
  margin: 5px 0;

  &__text {
    flex: 1;
  }

  &__number {
    width: 20px;
    font-weight: bold;
    display: flex;
  }

  &__notice {
    display: inline-block;
    color: #856404;
    font-size: 83%;
    padding: 1px 3px;
    line-height: 1.15;
    box-sizing: border-box;
    border-radius: 2px;
    background: #fff3cd;
    border: solid 1px #ffeeba;
  }
}

.alternative {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
  align-items: flex-end;

  &__item {
    margin: 0 10px;

    font-size: 2em;
  }
}

rt {
  user-select: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  border-radius: (-3 / 16) * 1rem;

  &__item {
    margin: (3 / 16) * 1rem;
    padding: (5 / 16) * 1rem;
    border-radius: (3 / 16) * 1rem;
    background: #e4e5e8;
    border: solid 1px #b7b7b7;
    font-size: (14 / 16) * 1rem;
  }
}
