:host {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.wrapper {
  padding: 10px;
}

.main-kanji {
  font-size: 100px;
}

.main-reading {
  font-size: 30px;
}

.pill {
  box-sizing: border-box;
  background: rgba(0,0,0,0.05);
  margin: 5px;
  padding: 5px;
}
