<div *ngIf="dictIndexRow" class="wrapper">
  <div class="main-kanji">
    {{ dictIndexRow.kanji }}
  </div>
  <div class="main-reading">
    {{ dictIndexRow.reading }}
  </div>
  <hr>
  <div>
    Alternative Writings and Readngs
    <!-- Same dictionary id -->
  </div>
  <div>
    <span class="pill" *ngFor="let alternative of alternatives">
      {{ alternative.kanji }} {{ alternative.reading }}
    </span>
  </div>
  <div>
    Tags
  </div>
  <div>Explore:</div>
  <div *ngIf="sameKanjiSameReading.length > 0">
    Alternative Definitions (Other dictionary items with {{ dictIndexRow.kanji }} writing and {{ dictIndexRow.reading }} reading)
  </div>
  <div *ngIf="sameKanji.length > 0">
    Same Writings (Other dictionary items with {{ dictIndexRow.kanji }} writing, but with other readings)
  </div>
  <div>
    Raw
  </div>
  <pre>{{ detailsString }}</pre>
</div>
