@import './style/normalizer.scss';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

.sidebar {
  background: #E4E4E4;
  width: 100%;
  height: 100%;
  box-shadow: -1px 0px 0 0 #CDCDCD inset;
  user-select: none;
  padding: 20px 0;
  font-size: 13px;

  @at-root .body_blur & {
    background: #F6F6F6;
  }

  &__header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
  }

  &__separator {
    color: #808080;
    font-size: 11px;
    height: 25px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: 600;
  }

  &__item {
    color: #1F1E1F;
    height: 24px;
    line-height: 24px;
    outline: none;
    padding-left: 18px;

    @at-root .body_blur & {
      color: #787878;
    }

    &_active {
      background: #CBCBCB;

      @at-root .body_blur & {
        background: #D2D2D2;
      }
    }
  }
}
