<div class="entry-details">
  <div class="toolbar" (dblclick)="toggleMaximize()">
    <div *ngIf="mode === 'window'" class="toolbar__window-buttons-pad"></div>
    <div class="toolbar-button"
      [ngClass]="{'toolbar-button__disabled': history.pointer <= 1}"
      (dblclick)="$event.stopPropagation()"
      (click)="back()">
      <img
        class="toolbar-button__icon"
        src="assets/icons/chevron-left.svg">
    </div>
    <div class="toolbar-button"
      [ngClass]="{'toolbar-button__disabled': history.pointer + 1 == history.stack.length}"
      (dblclick)="$event.stopPropagation()"
      (click)="forward()">
      <img
        class="toolbar-button__icon"
        src="assets/icons/chevron-right.svg">
    </div>
    <div
      class="toolbar-button"
      (click)="popupCurrent()">
      <img
        class="toolbar-button__icon"
        src="assets/icons/external-link.svg">
    </div>
  </div>

  <!-- ngIf = only show when all JMdict data is loaded OR all JMnedict data is loaded -->
  <div
    *ngIf="
      dictIndexRow && detailsObjJMdict && alternatives && sameKanji
      || dictIndexRow && detailsObjJMnedict"
    class="entry-details__content">
    <div class="entry-details__wrap">

      <!-- **
      * Page Title
      * -->
      <div class="entry-head">
        <div class="entry-head__kanji">
          <app-entry-details--ruby
            [kanji]="dictIndexRow.kanji"
            [reading]="dictIndexRow.reading"
            [furigana]="dictIndexRow.furigana">
          </app-entry-details--ruby>
        </div>
      </div>

      <!-- **
      * Alternatives
      * -->
      <div class="detail-block" *ngIf="alternatives?.length > 1">
        <div class="detail-row">
          <div class="detail-row__title">Alternative Writings and Readings</div>
          <div class="alternative">
            <ng-container *ngFor="let alternative of alternatives">
              <!-- Only show alternative that different from the currently displayed -->
              <div
                class="alternative__item"
                *ngIf="!(alternative.kanji === dictIndexRow.kanji && alternative.reading === dictIndexRow.reading)"
                (click)="open({source: alternative.source, id: alternative.id, kanji: alternative.kanji, reading: alternative.reading})">
                <app-entry-details--ruby
                  [kanji]="alternative.kanji"
                  [reading]="alternative.reading"
                  [furigana]="alternative.furigana">
                </app-entry-details--ruby>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- **
      * Translation
      * -->
      <ng-container>
        <div class="separator-pad">
          <div class="separator-pad__label">
            TRANSLATION
          </div>
        </div>
        <div class="detail-block">
          <!-- JMdict Translation -->
          <ng-container *ngIf="dictSource === 1 && detailsObjJMdict !== null">
            <div class="detail-row">
              <div *ngFor="let sense of detailsObjJMdict.sense; index as i">
                <div *ngIf="sense.pos" class="detail-row__title">{{ getEntities(sense.pos, 1).join(', ') }}</div>
                <div class="sense-item">
                  <div class="sense-item__number">
                    {{ i + 1 }}
                  </div>
                  <div class="sense-item__text">
                    <span *ngIf="sense.stagk" class="sense-item__notice">only {{ sense.stagk.join(', ')}}</span>
                    <span *ngIf="sense.stagr" class="sense-item__notice">only {{ sense.stagr.join(', ')}} reading</span>
                    <span *ngFor="let gloss of sense.gloss">
                      {{ gloss.$t }};
                    </span>
                    <br>
                    <span *ngIf="sense.misc">
                      ({{ getEntities(sense.misc, 1).join(', ') }})
                    </span>
                    <span *ngIf="sense.xref">
                      See: {{ sense.xref.join(', ')}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- JMnedict Translation -->
          <ng-container *ngIf="dictSource === 2 && detailsObjJMnedict !== null">
            <div class="detail-row">
              <div *ngFor="let trans of detailsObjJMnedict.trans; index as i">
                <div *ngIf="trans.name_type" class="detail-row__title">{{ getEntities(trans.name_type, 2).join(', ') }}
                </div>
                <div class="sense-item">
                  <div class="sense-item__number">
                    {{ i + 1 }}
                  </div>
                  <div class="sense-item__text">
                    <span *ngFor="let text of trans.trans_det">
                      {{ text }}
                    </span>
                    <span *ngIf="isPlace(trans.name_type)">
                      <button (click)="openWebBroser('https://www.google.com/maps/search/' + keyword)">
                        See location in Google Maps</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <!-- **
      * Tags
      * -->
      <ng-container *ngIf="dictIndexRow.tags !== null">
        <div class="separator-pad">
          <div class="separator-pad__label">
            TAGS
          </div>
        </div>

        <div class="detail-block">
          <div class="detail-row">
            <div class="tags">
              <div
                class="tags__item"
                *ngFor="let tag of dictIndexRow.tags"
                [tooltip]="getTagDescription(tag)"
                [options]="{
                  'show-delay': 10,
                  'hide-delay': 10,
                  'placement': 'top'}">
                {{ tag }}
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- **
      * Explore
      * -->
      <ng-container>
        <div class="separator-pad">
          <div class="separator-pad__label" (click)="exploreClick()">
            EXPLORE
          </div>
        </div>
        <div class="detail-block">
          <div class="detail-row" *ngIf="sameKanji?.length > 0">
            <div class="detail-row__title">
              Other dictionary items with {{ dictIndexRow.kanji }} word.
            </div>
            <!-- Same writing -->
            <div class="alternative-entries">
              <div
              *ngFor="let row of sameKanji"
              (click)="open({source: row.source, id: row.id, kanji: row.kanji, reading: row.reading})"
              class="alternative-entries__item">
                <app-entry-details--ruby class="alternative-entries__word"
                  [kanji]="row.kanji"
                  [reading]="row.reading"
                  [furigana]="row.furigana">
                </app-entry-details--ruby>
                <div class="alternative-entries__meaning">{{ row.meaning }}</div>
              </div>
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-row__title">
              Resources on the Internet
            </div>
            <div style="display: flex; flex-direction: column;">
              <button
                (click)="openWebBroser('https://duckduckgo.com/?q=' + keyword + '&iar=images&iax=images&ia=images&kl=jp-jp&kp=1')"
                style="max-width: 300px; margin-bottom: 5px;">
                Images in DuckDuckGo
              </button>
              <button
                (click)="openWebBroser('https://ejje.weblio.jp/sentence/content/' + keyword)"
                style="max-width: 300px;">
                Sentences in Weblio</button>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- **
      * Raw JSON Easter Egg
      * -->
      <ng-container>
        <div class="separator-pad" *ngIf="exploreClickCount > 1">
          <div class="separator-pad__label">
            RAW JSON
          </div>
        </div>
        <div class="detail-block" *ngIf="exploreClickCount > 1">
          <div class="detail-row">
            <pre>{{ detailsString }}</pre>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
