<div class="basic-search">
  <div class="basic-search__area-field">
    <div class="search-field">
        <input class="search-field__input" type="text" placeholder="Search" [(ngModel)]="keyword" (ngModelChange)="search($event)">
    </div>
  </div>
  <div class="basic-search__area-result">
    <div class="search-result">
      <div
        *ngIf="isKanji && kanjiChars.length > 0"
        class="search-result__section-header">
        Kanji
      </div>
      <div
        *ngIf="isKanji"
        class="search-result__kanji-area">
        <div
          *ngFor="let kanjiChar of kanjiChars"
          class="search-result__kanji-item"
          (click)="selectItem(kanjiChar)"
          [ngClass]="{'search-result__kanji-item_selected': isEqual({source: 3, kanji: kanjiChar}, selectedItem)}">
          {{ kanjiChar }}
        </div>
      </div>
      <div
        *ngIf="list.length > 0"
        class="search-result__section-header">
        Words
      </div>
      <div
          *ngFor="let item of list" (click)="selectItem(item)"
          class="search-result__item"
          [ngClass]="{'search-result__item_selected': isEqual(entryDetailsQueryMaker(item), selectedItem) }">
          <div class="search-result__item-kanji">{{ item.kanji }}</div>
          <div class="search-result__item-reading">{{ item.reading }}</div>
          <div class="search-result__item-meaning">
              {{ item.meaning | slice:0:200 }}
              {{ item.meaning.length > 200 ? '...' : ''}}
          </div>
        </div>
    </div>
  </div>
  <div class="basic-search__area-content">
    <app-entry-details #entryDetails compMode="word-search"></app-entry-details>
  </div>
</div>
